img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(128, 0, 255, 0.3);
  
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(128, 0, 255, 0.6);
}


.div-class {
  padding-left: 1rem;
  font-size: 1rem;
  align-self: center;
  color: #E0E0E0;
  opacity: 0.9;
  text-align: justify;
  justify-self: center;
}


.div-class ul {
  list-style-type: disc;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  margin: 0.5rem 0;
  color: #E0E0E0;
}

.p-class {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #E0E0E0;
  opacity: 0.9;
}


.p-class a:hover {
  text-decoration: underline;
  color: #c4b5fd;
}
